<!-- Dependency injection -->
@model airlineBOOM.Models.Flight

<!-- Page itself -->
@{
    ViewData["Title"] = "Assign Flight Crew";
}

<h1>Assign flight crew: Page 2</h1>

<p>@ViewBag.flight.Hours</p>