<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - airlineBOOM</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </environment>
</head>
<body>
    <!-- Allow me to use user manager -->
    @using Microsoft.AspNetCore.Identity
    @using airlineBOOM.Models;
    @inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager
    <!-- Page itself -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-fixed-top">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" asp-page="/index"> Home </a></li>
                <li class="nav-item"><a class="nav-link" asp-page="/about"> About </a></li>
                <li class="nav-item"><a class="nav-link" asp-page="/contact"> Contact </a></li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <!-- If the user is signed in -->
                
                <div class="inline my-2 my-lg-0">
                    <ul class="nav navbar-nav">
                        <!-- THIS BUTTON DONT WORK! -->
                        <li class="nav-item m-1"><a class="nav-btn btn btn-outline-danger" asp-page="/error"> Logout </a></li>
                    </ul>
                </div>
            }
            else
            {
                <!-- If the user is not signed in -->
                <div class="inline my-2 my-lg-0">
                    <ul class="nav navbar-nav">
                        <li class="nav-item m-1"><a class="nav-btn btn btn-outline-dark" asp-page="/myPages/login"> Login </a></li>
                        <li class="nav-item m-1"><a class="btn btn-outline-success btn-sm" asp-page="/myPages/createUser"> Create User </a></li>
                    </ul>
                </div>
            }
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Test template by: Alvaro Lopez</p>
        </footer>
    </div>
</body>
</html>
