<!-- Dependency injection -->
@using Microsoft.AspNetCore.Identity;
@using airlineBOOM.Models;
@inject SignInManager<AppUser> SignInManager

<div class="inline">
    <ul class="navbar-nav mr-auto ">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- If the user is signed in -->
            @if (User.IsInRole("Office"))
            {
                <!-- If the user is in role Office -->
                <li class="nav-item m-1">
                    <a class="nav-link text-capitalize" asp-route="homeLogin"> @User.Identity.Name role: Office </a>
                </li>
            }
            else if (User.IsInRole("Pilot"))
            {
                <!-- If the user is in role Pilot -->
                <li class="nav-item m-1">
                    <a class="nav-link text-capitalize" asp-route="homeLogin"> @User.Identity.Name role: Pilot </a>
                </li>
            }
            else
            {
                <!-- If the user is in role Flight operator -->
                <li class="nav-item m-1">
                    <a class="nav-link text-capitalize" asp-route="homeLogin"> @User.Identity.Name role: Flight operator </a>
                </li>
            }

            <li class="nav-item m-1">
                <form method="post" asp-controller="home" asp-action="logout">
                    <input class="btn btn-outline-danger" type="submit" value="Logout" />
                </form>
            </li>

        }
        else
        {
            <!-- If the user is NOT signed in -->
            <li class="nav-item m-1">
                <a class="btn btn-outline-light" asp-route="homeLogin"> Login </a>
            </li>

            <li class="nav-item m-1">
                <a class="btn btn-outline-success btn-sm" asp-route="homeCreateUser"> Create User </a>
            </li>
        }
    </ul>
</div>