<!-- Dependency injection -->
@using Microsoft.AspNetCore.Identity;
@using airlineBOOM.Models;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (User.IsInRole("Office"))
{
    <!-- If the user is in role Office -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Office" asp-action="createFlight"> Create flight </a>
    </li>
}
else if (User.IsInRole("FlightOperator"))
{
    <!-- If the user is in tole Flight Operator -->

}
else if (User.IsInRole("Pilot"))
{
    <!-- If the user is in tole Pilot -->

}
else
{
    <li class="nav-item">
        <div class="m-2">
            <p class="font-italic"> No role </p>
        </div>
    </li>
}