<!-- Dependency injection -->
@model airlineBOOM.Models.Flight

<!-- Page itself -->
@{
    ViewData["Title"] = "Create Flight";
}

<form asp-controller="office" asp-action="createFlight" method="POST">
    <h1> Create Flight </h1>

    <h3> General information </h3>

    <div class="form-row">
        <!-- Hours of flight -->
        <div class="col">
            <input type="number" min="1" class="form-control" placeholder="Hours" asp-for="Hours" />
        </div>

        <!-- Tickets sold -->
        <div class="col">
            <input type="number" min="1" class="form-control" placeholder="Tickets sold" asp-for="TicketsSold" />
        </div>
    </div>

    <!-- Description of the plane -->
    <div class="form-group">
        <label class="col-2 col-form-label">Airplane state:</label>
        <div class="col-lg-6">
            <textarea class="form-control" rows="5" asp-for="AirplaneState"></textarea>
        </div>
    </div>

    <!-- Meteorology -->
    <h2 class="mt-2"> Meteorology </h2>

    <!-- Meteorology score -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="0">
        <label class="form-check-label">
            0
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="1">
        <label class="form-check-label">
            1
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="2">
        <label class="form-check-label">
            2
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="3">
        <label class="form-check-label">
            3
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="4">
        <label class="form-check-label">
            4
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="5">
        <label class="form-check-label">
            5
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="6">
        <label class="form-check-label">
            6
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="7">
        <label class="form-check-label">
            7
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="8">
        <label class="form-check-label">
            8
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="9">
        <label class="form-check-label">
            9
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightMeteorology" value="10">
        <label class="form-check-label">
            10
        </label>
    </div>

    <!-- Visibility -->
    <h2 class="mt-2"> Visibility </h2>

    <!-- Visibility score -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="0">
        <label class="form-check-label">
            0
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="1">
        <label class="form-check-label">
            1
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="2">
        <label class="form-check-label">
            2
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="3">
        <label class="form-check-label">
            3
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="4">
        <label class="form-check-label">
            4
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="5">
        <label class="form-check-label">
            5
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="6">
        <label class="form-check-label">
            6
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="7">
        <label class="form-check-label">
            7
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="8">
        <label class="form-check-label">
            8
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="9">
        <label class="form-check-label">
            9
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightVisibility" value="10">
        <label class="form-check-label">
            10
        </label>
    </div>

    <!-- Setoff -->
    <h2 class="mt-2"> Setoff </h2>

    <!-- Setoff score -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="0">
        <label class="form-check-label">
            0
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="1">
        <label class="form-check-label">
            1
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="2">
        <label class="form-check-label">
            2
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="3">
        <label class="form-check-label">
            3
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="4">
        <label class="form-check-label">
            4
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="5">
        <label class="form-check-label">
            5
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="6">
        <label class="form-check-label">
            6
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="7">
        <label class="form-check-label">
            7
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="8">
        <label class="form-check-label">
            8
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="9">
        <label class="form-check-label">
            9
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flightSetoff" value="10">
        <label class="form-check-label">
            10
        </label>
    </div>

    <input class="d-block mt-3 btn btn-outline-dark" type="submit" asp-page-handler="createFlight" value="Create flight" />
</form>