<!-- Dependency injection -->
@model airlineBOOM.Models.Flight

<!-- Page itself -->
@{
    ViewData["Title"] = "Create Flight";
}

<form asp-controller="office" asp-action="createFlight" method="POST">
    <h1> Create Flight </h1>

    <h3> General information </h3>

    <!-- Cities of the flight -->
    <div class="form-row">

        <!-- Origin city -->
        <div class="col-auto my-1">
            <label class="mr-sm-2"> Origin city </label>

            <select class="custom-select mr-sm-2" name="originCity">
                <option selected>Choose...</option>

                @foreach (var city in ViewBag.cities)
                {
                    <option value="@city.Name"> @city.Name </option>
                }
            </select>
        </div>

        <!-- Destiny city -->
        <div class="col-auto my-1">
            <label class="mr-sm-2"> Destiny city </label>

            <select class="custom-select mr-sm-2" name="destinyCity">
                <option selected>Choose...</option>

                @foreach (var city in ViewBag.cities)
                {
                    <option value="@city.Name"> @city.Name </option>
                }
            </select>
        </div>

        <!-- Hours of flight -->
        <div class="col-auto">
            <label class="mr-sm-2"> Hours of flight </label>

            <input type="number" min="1" class="form-control" placeholder="Hours" asp-for="Hours" />
        </div>

        <!-- Tickets sold -->
        <div class="col-auto">
            <label class="mr-sm-2"> Tickets sold </label>

            <input type="number" min="0" class="form-control" placeholder="Tickets sold" asp-for="TicketsSold" />
        </div>

        <!-- Flight date -->
        <div class="col-auto">
            <label class="mr-sm-2"> Flight date </label>

            <input type="date" class="form-control" asp-for="Date" />
        </div>
    </div>

    <!-- Description of the plane -->
    <div class="form-group">
        <label class="col-2 col-form-label">Airplane state:</label>
        <div class="col-lg-6">
            <textarea class="form-control" rows="5" asp-for="AirplaneState"></textarea>
        </div>
    </div>

    <input class="d-block mt-3 btn btn-outline-dark" type="submit" asp-page-handler="createFlight" value="Create flight" />
</form>